{include file='public/head'/}
<link rel="stylesheet" href="__PUBLIC__css/client.css">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>
                <small>服务对象管理&nbsp;>&nbsp;基础信息</small>
                <a href="javascript:history.back(-1);" title="返回上一页"><i class="fa fa-reply"></i></a>
            </h5>
        </div>
        <div class="ibox-content c-b-info">
            <div class="col-sm-12 nav-tabs-client">
                <div class="col-sm-4">
                    <img src="{$user.head|default='/public/static/img/head.jpg'}" alt="">&nbsp;&nbsp;
                    <span>{$user.name}</span>
                </div>
                <div class="col-sm-8">
                    <ul class="nav nav-tabs"></ul>
                </div>
            </div>
            <div class="col-sm-12 m-t">
                <div class="user-info">
                    <form class="form-horizontal">
                        <div class="col-sm-12">
                            <div class="col-sm-6 f-left">
                                <h3 class="inline">用户信息</h3>&nbsp;&nbsp;
                                <span>当前状态：正常</span>
                            </div>
                            <div class="col-sm-6 f-right text-right">
                                <button type="button" class="btn btn-sm btn-white editBtn">编辑</button>
                            </div>
                            <div class="clearfix"></div>
                            <hr/>
                        </div>
                        <div class="row m-t col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-5">
                                    <span class="help-block m-b-none">{$user.name}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">身份证号</label>
                                <div class="col-sm-5">
                                    <span class="help-block m-b-none">{$user.id_number}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-5">
                                    <span class="help-block m-b-none">{$user.sex}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">出生日期</label>
                                <div class="col-sm-5">
                                    <span class="help-block m-b-none">{$user.birthday}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">年龄</label>
                                <div class="col-sm-5">
                                    <span class="help-block m-b-none">{$user.age}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机号</label>
                                <div class="col-sm-5">
                                    <span class="help-block m-b-none">{$user.mobile}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">现住地址</label>
                                <div class="col-sm-5">
                                    <span class="help-block m-b-none">{$user.address}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">户籍地址</label>
                                <div class="col-sm-5">
                                    <span class="help-block m-b-none">{$user.permanent_address}</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="contacts-info">
                    <form class="form-horizontal">
                        <div class="col-sm-12">
                            <div class="col-sm-6 f-left">
                                <h3 class="inline">联系人信息</h3>
                            </div>
                            <div class="col-sm-6 f-right text-right">
                                <button type="button" class="btn btn-sm btn-white editBtn">编辑</button>
                            </div>
                            <div class="clearfix"></div>
                            <hr/>
                        </div>
                        <div class="row m-t col-sm-12">
                            {notempty name='contacts'}
                            {volist name='contacts' id='c' key='k'}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系人{$k}</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$c.type_text}&nbsp;{$c.name}&nbsp;{$c.mobile}</span>
                                </div>
                            </div>
                            {/volist}
                            {else/}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系人</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">--</span>
                                </div>
                            </div>
                            {/notempty}
                        </div>
                    </form>
                </div>
                <div class="group-info">
                    <form class="form-horizontal">
                        <div class="col-sm-12">
                            <div class="col-sm-6 f-left">
                                <h3 class="inline">分组信息</h3>
                            </div>
                            <div class="col-sm-6 f-right text-right">
                                <button type="button" class="btn btn-sm btn-white editBtn">编辑</button>
                            </div>
                            <div class="clearfix"></div>
                            <hr/>
                        </div>
                        <div class="row m-t col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分组</label>
                                <div class="col-sm-10">
                                    {notempty name='group'}
                                    <span class="help-block m-b-none">
                                        {volist name='group' id='g'}
                                        {$g.name}
                                        {/volist}
                                    </span>
                                    {else/}
                                    <span class="help-block m-b-none">--</span>
                                    {/notempty}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tag-info">
                    <form class="form-horizontal">
                        <div class="col-sm-12">
                            <div class="col-sm-6 f-left">
                                <h3 class="inline">标签信息</h3>
                            </div>
                            <div class="col-sm-6 f-right text-right">
                                <button type="button" class="btn btn-sm btn-white editBtn">编辑</button>
                            </div>
                            <div class="clearfix"></div>
                            <hr/>
                        </div>
                        <div class="row m-t col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标签</label>
                                <div class="col-sm-10">
                                    {notempty name='tag'}
                                    <span class="help-block m-b-none">
                                        {volist name='tag' id='t'}
                                        {$t.name}
                                        {/volist}
                                    </span>
                                    {else/}
                                     <span class="help-block m-b-none">--</span>
                                    {/notempty}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="other-info">
                    <form class="form-horizontal">
                        <div class="col-sm-12">
                            <div class="col-sm-6 f-left">
                                <h3>其他信息</h3>
                            </div>
                            <div class="col-sm-6 f-right text-right">
                                <button type="button" class="btn btn-sm btn-white editBtn">编辑</button>
                            </div>
                            <div class="clearfix"></div>
                            <hr/>
                        </div>
                        <div class="row m-t col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">籍贯</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.native_place|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">民族</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.nation|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">受教育程度</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.education|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">政治面貌</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.political|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">宗教</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.religion|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">兴趣爱好</label>
                                <div class="col-sm-10">
                                    {notempty name='other.hobby'}
                                    <span class="help-block m-b-none">
                                        {volist name='other.hobby' id='h'}
                                        {$h}
                                        {/volist}
                                    </span>
                                    {else/}
                                    <span class="help-block m-b-none">--</span>
                                    {/notempty}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">饮食禁忌</label>
                                <div class="col-sm-10">
                                    {notempty name='other.diet_taboo'}
                                    <span class="help-block m-b-none">
                                        {volist name='other.diet_taboo' id='d'}
                                        {$d}
                                        {/volist}
                                    </span>
                                    {else/}
                                    <span class="help-block m-b-none">--</span>
                                    {/notempty}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">血型</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.blood_type_text|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">RH阴性</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.rh_negative_text|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">经济来源</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.economic_source|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">生活来源</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.livelihood|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">照看人</label>
                                <div class="col-sm-10">
                                    {notempty name='other.caregiver'}
                                    <span class="help-block m-b-none">
                                        {volist name='other.caregiver' id='c'}
                                        {$c}
                                        {/volist}
                                    </span>
                                    {else/}
                                    <span class="help-block m-b-none">--</span>
                                    {/notempty}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">身体状况</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.healthy|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">居住类型</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.live|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">住房类型</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.house|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">资料提供人</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.provider|default='--'}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-10">
                                    <span class="help-block m-b-none">{$other.remarks|default='--'}</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
{include file='public/foot'/}
<script type="text/javascript" src="__PUBLIC__js/upload.js"></script>
<script type="text/javascript" src="__PUBLIC__js/client.js"></script>
<script type="text/javascript">
        var $userInfo = '<?php echo json_encode($user); ?>',
            $contactsInfo = '<?php echo json_encode($contacts); ?>',
            $groupInfo = '<?php echo json_encode($group); ?>',
            $tagInfo = '<?php echo json_encode($tag); ?>',
            $otherInfo = '<?php echo json_encode($other); ?>',
            $userId = '<?php echo $user["id"]; ?>';
</script>
</html>