{include file='public/head'}
<link href="__PUBLIC__css/map.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__css/client.css">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>
                <small>服务对象管理&nbsp;>&nbsp;时时定位</small>
                <a href="javascript:history.back(-1);" title="返回上一页"><i class="fa fa-reply"></i></a>
            </h5>
        </div>
        <div class="ibox-content c-case-record">
            <div class="col-sm-12 nav-tabs-client">
                <div class="col-sm-4">
                    <img src="{$user.head|default='/public/static/img/head.jpg'}" alt="">&nbsp;&nbsp;
                    <span>{$user.name}</span>
                </div>
                <div class="col-sm-8">
                    <ul class="nav nav-tabs"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-t">
                    <div class="float-e-margins">
                        <button onclick="address({$user.imei})" class="btn btn-outline btn-success">创建电子围栏</button>
                        <button onclick="rmaddress({$user.imei})" class="btn btn-outline btn-success">移除电子围栏</button>
                        <button onclick="getgps({$user.imei})" class="btn btn-outline btn-success" title="获取定位">获取定位</button>
                        <form class="form-horizontal m-t" id="gpsPosition" action="javascript:;gpsAction()" style="display:none;">
                            <input type="hidden" name="lng" required="" aria-required="true"/>
                            <input type="hidden" name="lat" required="" aria-required="true"/>
                            <input type="hidden" name="radius" required="" aria-required="true"/>
                            <input type="hidden" name="imei" value="{$user.imei}"/>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">围栏名称</label>
                                <div class="col-sm-8">
                                    <input name="fencname" class="form-control" type="text"  placeholder="请输入围栏名称" required="" aria-required="true" value="{$user.fencename}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit" id="button_id">提交</button>
                                </div>
                            </div>
                        </form>
                        <div class="panel-body" id='allmap' style="overflow: hidden;position: relative;left: 0;top: 0;height: 700px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="timely" value='{$loc}'/>
</body>
{include file='public/foot'/}
<!-- 百度请求 -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=KW0y9CM8nvQWkWcQ4jIDTOBevgSapQQQ"></script>
<!--加载鼠标绘制工具-->
<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
<!--加载检索信息窗口-->
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
<script type="text/javascript" src="__PUBLIC__js/client.js"></script>
<script type="text/javascript">
    var $userId = '<?php echo $_GET["id"]; ?>';
</script>
<script type="text/javascript" src="__PUBLIC__js/client-map.js"></script>
</html>