{include file='public/head'/}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="ibox-title">
                <h5>
                    <button class="btn btn-white btn-sm a-tag"><i class="fa fa-plus"></i> 添加标签</button>
                </h5>
            </div>
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>标签名称</th>
                                <th>创建时间</th>
                                <th>人数</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='tag' id='t' key='k'}
                            <tr>
                                <td>{$k}</td>
                                <td>{$t.name}</td>
                                <td>{$t.create_time}</td>
                                <td></td>
                                <td>
                                    <a href="javascript:;" class="e-tag" title="编辑"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                    <a href="javascript:;" class="d-tag" title="删除"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{include file='public/foot'/}
<script type="text/javascript" src="__PUBLIC__js/client.js"></script>
<script type="text/javascript">
    var $tagList = '<?php echo json_encode($tag); ?>';
</script>
</html>