{include file='public/head'/}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="ibox-title">
                <h5>
                    <div class="btn-group search">
                        <button class="btn btn-white" type="button"><i class="fa fa-search"></i> 高级搜索</button>
                        <div class="dropdown-menu">
                            <form class="form-horizontal" action="javascript:;search()">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">创建时间</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="start_create"  class="form-control times" value="{$data.query.start_create}">
                                    </div>
                                    <div class="col-sm-1 middle-div">至</div>
                                    <div class="col-sm-4 f-right">
                                        <input type="text" name="end_create"   class="form-control times" value="{$data.query.end_create}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">身份证号码</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="cardid"  class="form-control" value="{$data.query.cardid}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">姓名</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="name"  class="form-control" value="{$data.query.name}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">IMEI</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="imei"  class="form-control" value="{$data.query.imei}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary" type="submit">搜索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </h5>
            </div>
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>定位地址</th>
                                <th>定位时间</th>
                                <th>IMEI</th>
                                <th>定位方式</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='data.list.data' id='c' key='k'}
                            <tr>
                                <td>{$k}</td>
                                <td><a href="/index/Client/currentPosition?id={$c.cid}" title="点击查看详情">{$c.name}</a></td>
                                <td>{$c.address|default='--'}</td>
                                <td>{$c.addtime|date='Y-m-d H:i:s',###}</td>
                                <td>{$c.imei}</td>
                                <td>{$c.location_type}</td>
                                <td>
                                    <a onclick="seemap({$c.id})">定位详情</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <div class="page">{$data.page} <div>{$data.list.last_page}页，总共{$data.list.total}条数据</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{include file='public/foot'/}
<script type="text/javascript">
    //日期搜索
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        lay('.times').each(function(){
            laydate.render({
                elem: this,trigger: 'click'
            });
        });
    });
    //搜索
    function search(){
        //获取搜素参数
        var start_create = $("input[name='start_create']").val();
        var end_create = $("input[name='end_create']").val();
        if (end_create && start_create) {
            if (start_create<end_create) {
                layer.msg('结束时间不能小于开始时间');
                return false;
            }     
        }
        location.href="/index/Loclog/index?"+$('.form-horizontal').serialize();
    }
    //定位详情
    function seemap(id){
        var index = layer.open({
            type:2,
            title:'定位详情',
            shadeClose:true,
            shade:0.8,
            area:['100%','100%'],
            content:'/index/Loclog/mapdetails?id='+id,
        }); 
        layer.full(index);
    }
</script>
</html>