<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>定位详情</title>
    <meta name="keywords" content="智慧养老">
    <meta name="description" content="智慧养老">
</head>
<link href="__PUBLIC__css/map.css" rel="stylesheet">
<body>
<input type="hidden" name="map" value='{$info}'/>
<div id="allmap" style="height: 800px;"></div>
</body>
<script src="__PUBLIC__js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="__PUBLIC__js/war-map.js"></script>
</html>