{include file='public/head'/}

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <small>服务工单&nbsp;>&nbsp;添加服务工单</small>
                    <a href="javascript:history.back(-1);" title="返回上一页"><i class="fa fa-reply"></i></a>
                </div>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal form-plan" id="forms">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*选择服务对象</label>
                        <div class="col-sm-5">
                            <input type="hidden" name="client" value="">
                            <span class="ng-binding">已选：<span id="nums">0</span>人</span>
                            <a class="btn btn-white btn-xs b-grant-work" >
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;服务对象
                            </a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">*工单标题</label>
                        <div class="col-sm-5">
                            <input  name="title" class="form-control" type="text" placeholder="请输入工单标题" maxlength="32">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*服务类型</label>
                        <div class="col-sm-5">
                            <select class="form-control m-b" name="status" >
                                {volist name="project" id="vo"}
                                <option value='{$vo.id}'  >{$vo.name}</option >
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*选择服务商</label>
                        <div class="col-sm-5">
                            <select class="form-control m-b" name="pid" >
                                {volist name="provider" id="vo"}
                                <option value='{$vo.id}'  >{$vo.company}</option >
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">*消费金额</label>
                        <div class="col-sm-5">
                            <input  name="money" class="form-control" type="number"  >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">*服务地址</label>
                        <div class="col-sm-5">
                            <input  name="site" class="form-control" type="text" placeholder="请输入详细地址" maxlength="64">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-sm-1 col-sm-offset-1">
                            <button class="btn btn-primary" onclick="onSublimt()" >确定</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</body>
{include file='public/foot'/}
<script type="text/javascript" src="__PUBLIC__js/provider_work.js"></script>

</html>