{include file="public/head"/}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="btn-group search">
                        <button class="btn btn-white" type="button"><i class="fa fa-search"></i> 高级搜索</button>
                        <div class="dropdown-menu">
                            <form class="form-horizontal" action="/index/Integration/destroy" method="get">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">服务对象姓名</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="name" value="{$param.name}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">年龄</label>
                                    <div class="col-sm-9">
                                        <div class="input-daterange input-group">
                                            <input type="number" class="input-sm form-control " name="start" id="start" value="{$param.start_age}" />
                                            <span class="input-group-addon">至</span>
                                            <input type="number" class="input-sm form-control " name="end" id="end" value="{$param.end_age}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">性别</label>
                                    <div class="col-sm-9">
                                        <div class="radio radio-success radio-inline">
                                            <input type="radio" id="sex1" value="1" name="sex" {if condition="$param['sex'] eq 1"} checked {/if}>
                                            <label for="sex1"> 男 </label>
                                        </div>
                                        <div class="radio radio-success radio-inline">
                                            <input type="radio" id="sex2" value="2" name="sex"  {if condition="$param['sex'] eq 2"} checked {/if}>
                                            <label for="sex2"> 女 </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-3">
                                        <button class="btn btn-primary" type="submit">搜索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button class="btn btn-white f-right" title="点击上传核销文件" onclick="destoryIntegra();"><i class="fa fa-plus"></i> 批量核销积分</button>
                    <button class="btn btn-white f-right m-r-sm" title="点击下载核销模板" onclick="destoryTemplet();"><i class="fa fa-download"></i> 核销模板</button>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>老人姓名</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>本次核销积分</th>
                            <th>核销原因</th>
                            <th>本次核销时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="client" id="vo" key='k'}
                        <tr>
                            <td>{$k}</td>
                            <td>{$vo.name}</td>
                            <td>
                                {if condition="$vo.sex eq 1"}
                                男
                                {elseif condition="$vo.sex eq 2"}
                                女
                                {/if}
                            </td>
                            <td>{$vo.age}</td>
                            <td>{$vo.score}</td>
                            <td>{$vo.remarks}</td>
                            <td>{$vo.create_time|date='Y-m-d',###}</td>
                            <td>
                                <a href="/index/Client/integral?id={$vo.id}&type=2">查看</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <div class="page">{$client->render()}</div>
                    <div class="text-center">总共 {$client->total()} 条数据</div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/foot"/}
<script src="__PUBLIC__js/upload.js"></script>
<script src="__PUBLIC__js/integral/integral.js"></script>
</body>
</html>