{include file='public/head'/}
<link rel="stylesheet" href="__PUBLIC__css/client.css">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>
                <small>设备管理&nbsp;>&nbsp;设备详情</small>
                <a href="javascript:history.back(-1);" title="返回上一页"><i class="fa fa-reply"></i></a>
            </h5>
        </div>
        <div class="ibox-content c-b-info">
            <div class="col-sm-12 m-t">
                <div>
                    <h3 class="inline">设备基础信息</h3>
                </div>
                <div class="base-info">
                    <form class="form-horizontal">
                        <div class="row m-t col-sm-12">
                            <hr/>
                            <div class="col-sm-2">
                                设备基础信息
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">IMEI号</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$details.imei}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">固件版本号</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$details.version}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">设备电量</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$details.electric}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">绑定时间</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$details.bind_time|default='--'}</span>
                                    </div>
                                </div>
                                {if condition="$details['pid'] neq '3'"}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">在线状态</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none d_status">{$details.d_status}</span>
                                    </div>
                                </div>
                                {/if}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">上次连接</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$details.last_connection|default='--'}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="bind-info">
                    <form class="form-horizontal">
                        <div class="row m-t col-sm-12">
                            <hr/>
                            <div class="col-sm-2">
                                <span class="btn">绑定用户</span><br/>
                                {if condition="$details['is_binding'] eq 1"}
                                <button type="button" class="btn btn-white cancel-bind">取消绑定</button>
                                {else/}
                                <button type="button" class="btn btn-white bind-user">用户绑定</button>
                                {/if}
                            </div>
                            <div class="col-sm-10">
                                {if condition="$details['is_binding'] eq 1"}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">姓名</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$bind_user.name}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">年龄</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$bind_user.age}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">性别</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$bind_user.sex}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">身份证</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$bind_user.id_number}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">手机号码</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$bind_user.mobile}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">居住地址</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$bind_user.address}</span>
                                    </div>
                                </div>
                                {else/}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">未绑定用户</label>
                                    <div class="col-sm-10"></div>
                                </div>
                                {/if}
                            </div>
                        </div>
                    </form>
                </div>
                {if condition="$details['is_binding'] eq 1"}
                <div class="send-info">
                    <form class="form-horizontal">
                        <div class="row m-t col-sm-12">
                            <hr/>
                            <div class="col-sm-2">
                                <span class="btn">设备发放</span><br/>
                                <button type="button" class="btn btn-white e-device-send">编辑</button>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">ICCID号码</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$details.iccid}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">电话号码</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$details.msisdn}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否发放</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$details.is_send}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">发放时间</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$details.send_time}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {/if}
                {if condition="($details['pid'] neq '3') AND ($details['pid'] neq '4')"}
                <div class="emergency-info">
                    <form class="form-horizontal">
                        <div class="row m-t col-sm-12">
                            <hr/>
                            <div class="col-sm-2">
                                <span class="btn">紧急联系人</span><br/>
                                <button type="button" class="btn btn-white e-device-sos">编辑</button>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-12">紧急呼叫号码最多可以预留3个，当触发腕表上的紧急呼叫按钮时将按顺序轮流拨打以下预留的电话号码</label>
                                </div>
                                {notempty name='emergency'}
                                {volist name='emergency' id='e'}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{$e.name}</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">{$e.mobile}</span>
                                    </div>
                                </div>
                                {/volist}
                                {/notempty}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="interval-info">
                    <form class="form-horizontal">
                        <div class="row m-t col-sm-12">
                            <hr/>
                            <div class="col-sm-2">
                                <span class="btn">GPS工作时间设置</span><br/>
                                <button type="button" class="btn btn-white e-device-times-timing">编辑</button>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-12">设置GPS工作时间后,GPS定位数据将按照您设置的时间范围内上传定位数据</label>
                                </div>
                               <div class="form-group">
                                    <label class="col-sm-2 control-label">工作设置</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">（{$details.start_time|default='0'}）起始时间</span>
                                        <span class="help-block m-b-none">（{$details.end_time|default='0'}）结束时间</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="timing-info-gps">
                    <form class="form-horizontal">
                        <div class="row m-t col-sm-12">
                            <hr/>
                            <div class="col-sm-2">
                                <span class="btn">GPS时间间隔</span><br/>
                                <button type="button" class="btn btn-white e-device-times">编辑</button>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-12">设置GPS间隔后,GPS定位数据将按照您设置的时间间隔上传定位数据</label>
                                </div>
                               <div class="form-group">
                                    <label class="col-sm-2 control-label">时间间隔</label>
                                    <div class="col-sm-10">
                                        <span class="help-block m-b-none">（{$details.gps|default='0'}）分钟</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {/if}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
{include file='public/foot'/}
<script type="text/javascript" src="__PUBLIC__js/bootstrap-paginator.js"></script>
<script type="text/javascript" src="__PUBLIC__js/device.js"></script>
<script type="text/javascript" src="__PUBLIC__js/device/details.js"></script>
<script type="text/javascript">
    var $deviceDetails = '<?php echo json_encode($details); ?>',
        $deviceSos = '<?php echo json_encode($emergency); ?>';
</script>
</html>