{include file="public/head"/}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="bars pull-left">
                        <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                            <select name="passage" class="form-control down_device">
                                <option value="">请选择设备厂商导出</option> 
                                {volist name='passage' id='p'}
                                    <option value="{$p.id}">{$p.name}</option>
                                {/volist}  
                            </select>
                        </div>
                    </div>
                    &nbsp;&nbsp;
                    <button class="btn btn-white" type="button" data-toggle="modal" data-target="#graph" data-type="ech_heart">
                        <i class="fa fa-plus"></i> 手动添加
                    </button>&nbsp;&nbsp;
                    <div class="btn-group search">
                        <button class="btn btn-white" type="button"><i class="fa fa-search"></i> 高级搜索</button>
                        <div class="dropdown-menu">
                            <form class="form-horizontal query">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">创建时间</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="start_create"  class="form-control times" value="{$data.query.start_create}" />
                                    </div>
                                    <div class="col-sm-1 middle-div">至</div>
                                    <div class="col-sm-4 f-right">
                                        <input type="text" name="end_create"  class="form-control times" value="{$data.query.end_create}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">设备厂商</label>
                                    <div class="col-sm-9">
                                        <select name="pid" class="form-control">
                                            <option value="">请选择设备厂商</option>
                                            {volist name='passage' id='v'}
                                            <option value="{$v.id}" {if condition="$data['query']['pid'] eq $v['id']"} selected {/if}>{$v.name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">设备号码</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="s_imei"  class="form-control" value="{$data.query.s_imei}"/>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-3">
                                        <button class="btn btn-primary" type="submit" onclick="search_submit()">搜索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>&nbsp;&nbsp;
                    {notempty name='data.item'}
                    {volist name='data.item' id='iv'}
                    <span style="font-weight: lighter;">{$iv.item}：{$iv.value}&nbsp;<a href="javascript:;">X</a>&nbsp;&nbsp;</span>
                    {/volist}
                    {/notempty}
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>设备厂商</th>
                            <th>设备IMEI</th>
                            <th>绑定对象</th>
                            <th>身份证号码</th>
                            <th>性别</th>
                            <th>地址</th>
                            <th>退换原因</th>
                            <th>维修创建时间</th>
                            <th>跟进人员</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='data.list.data' id='v'}
                        <tr>
                            <td>{$i}</td>
                            <td>{$v.pname}</td>
                            <td>{$v.imei}</td>
                            <td>{$v.name}</td>
                            <td>{$v.id_number}</td>
                            <td>{$v.sex}</td>
                            <td>{$v.address}</td>
                            <td>{$v.content}</td>
                            <td>{$v.addtime|date='Y-m-d H:i:s',###}</td>
                            <td>{$v.uname}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#save" class="btn btn-outline btn-success" data-id="{$v.id}" data-imei="{$v.imei}" data-content="{$v.content}" data-date="{$v.addtime|date='Y-m-d H:i:s',###}" data-s_pid="{$v.pid}">
                                    编辑
                                </button>
                                <button type="button" class="btn btn-outline btn-success" onclick="del({$v.id})">
                                    删除
                                </button>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <div class="page">{$data.page}<div>{$data.list.last_page}页，总共{$data.list.total}条数据</div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 维修清单手工录入 -->
<div class="modal inmodal fade" id="graph" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">设备退还清单录入</h4>
            </div>
             <div class="modal-body">
                <form class="form-horizontal m-t" id="sleep_form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label label_title_one">IMEI</label>
                        <div class="col-sm-8">
                            <input  name="imei" class="form-control" type="text" placeholder="请输入设备唯一标示号码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label label_title_one">退换备注</label>
                        <div class="col-sm-8">
                            <textarea  name="comment" class="form-control" placeholder="请输入退换备注"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="SubMit()">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 编辑更换清单 -->
<div class="modal inmodal fade" id="save" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">编辑设备更换清单</h4>
            </div>
             <div class="modal-body">
                <form class="form-horizontal m-t" id="save_form">
                    <input type="hidden" name="hid" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label label_title_one">IMEI</label>
                        <div class="col-sm-8">
                            <input  name="imei" class="form-control imei" type="text" placeholder="请输入设备唯一标示号码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label label_title_one">设备故障原因</label>
                        <div class="col-sm-8">
                            <textarea  name="comment" class="form-control comment" placeholder="请输入设备故障原因"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="SubMitSave()">保存</button>
            </div>
        </div>
    </div>
</div>

</body>
{include file="public/foot"/}
<script type="text/javascript">
    var $search = '<?php echo json_encode($data["item"]); ?>';
</script>
<script type="text/javascript" src="__PUBLIC__js/devicewithdraw/index.js"></script>
</html>